*{
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
}

.search-box{
    width: fit-content;
    margin: auto;
    margin-bottom: 20px;
}

.container{
    background-color: aqua;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.result-card{
    width: 280px;
    height: 220px;
    background-color: yellow;
}